// Use this to write your custom SCSS
.custom-hero3 {
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.rtl {
  direction: rtl;
}
.accordion-rtl button {
  padding: 0 1.1rem 0 0 !important;
  &::before {
    right: 0 !important;
    left: unset !important;
  }
}
